altgraph
audioread
certifi
cffi
cryptography
einops
future
julius
kthread
librosa
llvmlite
matchering
ml_collections
natsort
omegaconf
opencv-python
Pillow
psutil
pydub
pyglet
pyperclip
pytorch_lightning
PyYAML
resampy
scikit-learn
soundstretch
urllib3
wget
samplerate
screeninfo
diffq
playsound
SoundFile
numpy